* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 100%, 74%) ;
    background-image: url(./images/bg-intro-mobile.png);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
}

.container {
    padding:1.56rem;
    text-align: center;
}

.header {
    padding-top: 6.23rem;
    padding-bottom: 4.375rem;
}


.form__container {
    border-radius: 8px;
    background-color: #ffff;
    padding: 25px;
}



.input_item, #btn__input {
    font-family: inherit;
    font-weight: 700;
    width: 100%;
    height: 3.4375rem;
    border-radius: 8px;

}

.input_item{
    width: 100%;
    height: 3.4375rem;
    border: 1px solid hsl(246, 25%, 77%);
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: hsl(248, 32%, 49%);
    border: none;
    border-radius: 8px;
    color: #ffff;
    text-decoration: none;
    padding: 0.85rem 3rem;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 1.4rem;
    cursor: pointer;
}

.btn:hover, #btn__input:hover {
    opacity: 0.8;
    transition: all 300ms ease-in-out;
}


#btn__input {
    background-color: hsl(154, 59%, 51%);
    border: 1px solid hsl(154, 59%, 51%);
    box-shadow: 2px 5px 5px hsl(246, 25%, 77%);
    color: #ffff;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    cursor: pointer;
}


.terms_conds {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
    font-size: inherit;
}

div > span {
    font-size: 0.75rem;
    font-weight: 600;
    color: hsl(0, 100%, 74%);
    float: right;
    margin-bottom: 1rem;
}


/* ===============
TEXT
==================
*/

h1 {
    padding-bottom: 1.875rem;
}

small {
    color: hsl(246, 25%, 77%);
    font-size: 0.7rem;
}

/* ============
UTILITY CLASSES
===============*/

.drop_shadow{
    box-shadow: 0px 8px rgba(0, 0, 0, 0.12);
}

.invalid {
    border: 2px solid hsl(0, 100%, 74%);
    margin-bottom: 0;
}


/* ============
RESPONSIVE DESIGN
=============== */

@media (min-width: 475px){
    .container {
        max-width: 60%;
        margin: 0 auto;
        padding: 0;
    }

    .btn {
        width: 100%;
    }

    p{
        width: 100%;
    }
}


@media (min-width: 1000px){


    h1 {
        font-size: 4rem;
        text-align: left;
        line-height: 5rem;
    }
    p{
        text-align: left;
        line-height: 1.5rem;
    }

    .header {
        padding-left: 5rem;
    }
    .container {
        height: 100vh;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form__container {
        max-width: 80%;
        margin: 0 auto;
        padding: 2.1875rem;
    }

    .btn {
        width: 80%;
    }


}
